@import "tailwindcss";

@theme {
  --color-college-primary: #0096FF;
  --color-college-dark: #002D62;
  --color-college-light: #5CE1FF;
  --color-college-bg: #F3F4F6;
  --color-college-gold: #F59E0B;
}

.header-gradient {
  background: linear-gradient(90deg, #FFFFFF 0%, #EBF5FF 50%, #FFFFFF 100%);
  border: 1px solid rgba(0, 150, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 45, 98, 0.05);
}

body {
  background-color: var(--color-college-bg);
  font-family: 'Inter', sans-serif;
}

/* Hide scrollbar for a cleaner UI */
.no-scrollbar::-webkit-scrollbar,
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar,
.custom-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}