@import "tailwindcss";

@theme {
  --color-college-primary: #0096FF;
  --color-college-dark: #002D62;
  --color-college-light: #5CE1FF;
  --color-college-bg: #F3F4F6;
}

body {
  background-color: var(--color-college-bg);
  font-family: 'Inter', sans-serif;
}

/* Hide scrollbar for a cleaner UI */
.no-scrollbar::-webkit-scrollbar,
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar,
.custom-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}